#!/usr/bin/make -f

#%:
#	dh $@ --with python3

BASE=debian/afirewall/
SHARE=${BASE}/usr/share/afirewall/

default :
	echo "Doing nothing"

${SHARE} :
	mkdir -p ${SHARE}


${SHARE}/afirewall : ${SHARE} afirewall/afirewall
	pwd
	cp afirewall/afirewall ${BASE}/afirewall

build build-arch build-indep : ${SHARE}/afirewall

binary binary-arch binary-indep : ${SHARE}/afirewall

.PHONY : clean

clean :
	rm -rf ${BASE}

patch :

