#!/usr/bin/make -f

#%:
#	dh $@ --with python3

BASE=debian/afirewall/usr/share/afirewall

default :
	echo "Doing nothing"

${BASE} :
	mkdir -p ${BASE}


${BASE}/afirewall : ${BASE} ../afirewall/afirewall
	pwd
	cp ../../afirewall/afirewall ${BASE}/afirewall

build build-arch build-indep : ${BASE}/afirewall

binary binary-arch binary-indep : ${BASE}/afirewall

.PHONY : clean

clean :
#	rm -rf debian/afirewall

patch :

